<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../_layout/imports/meta-tags'); %>
    <%- include('../_layout/imports/header-imports'); %>
    <%- include('../_layout/rules/validation-login.ejs'); %>
    <link rel="stylesheet" href="./css/quill.snow.css">
    <link rel="stylesheet" href="./css/datepicker.min.css">

    <link rel="stylesheet" href="https://blueimp.github.io/Gallery/css/blueimp-gallery.min.css" />
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="./file-upload/css/jquery.fileupload.css" />
    <link rel="stylesheet" href="./file-upload/css/jquery.fileupload-ui.css" />
    <!-- CSS adjustments for browsers with JavaScript disabled -->
    <noscript>
        <link rel="stylesheet" href="./file-upload/css/jquery.fileupload-noscript.css" /></noscript>
    <noscript>
        <link rel="stylesheet" href="./file-upload/css/jquery.fileupload-ui-noscript.css" /></noscript>
    <link rel="stylesheet" href="./css/informations.css">
    <title>Imobiliária | Aliance</title>
</head>

<body>
    <%- include('../components/navbar', { black: true }) %>
    <div class="container uk-margin-top">
        <%- include('../components/datasheet-editor') %>
    </div>
    <div class="container uk-margin-top">
        <%- include('../components/upload') %>
    </div>
    <%- include('../components/footer') %>
</body>
<script src="./js/quill.js"></script>
<%- include('../_layout/imports/footer-imports') %>
<script src="./js/jquery.maskMoney.min.js"></script>
<script src="./js/jquery.mask.min.js"></script>
<script src="./js/datepicker.min.js"></script>
<script src="./js/datepicker.pt-BR.js"></script>
<script src="./file-upload/js/vendor/jquery.ui.widget.js"></script>
<!-- The Templates plugin is included to render the upload/download listings -->
<script src="./file-upload/js/blueimp.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="./file-upload/js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="./file-upload/js/jquery.fileupload.js"></script>
<!-- The File Upload processing plugin -->
<script src="./file-upload/js/jquery.fileupload-process.js"></script>
<!-- The File Upload image preview & resize plugin -->
<script src="./file-upload/js/jquery.fileupload-image.js"></script>
<!-- The File Upload audio preview plugin -->
<script src="./file-upload/js/jquery.fileupload-audio.js"></script>
<!-- The File Upload video preview plugin -->
<script src="./file-upload/js/jquery.fileupload-video.js"></script>
<!-- The File Upload validation plugin -->
<script src="./file-upload/js/jquery.fileupload-validate.js"></script>
<!-- The File Upload user interface plugin -->
<script src="./file-upload/js/jquery.fileupload-ui.js"></script>
<!-- The main application script -->
<script src="./file-upload/js/demo.js"></script>
<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
<!--[if (gte IE 8)&(lt IE 10)]>
      <script src="js/cors/jquery.xdr-transport.js"></script>
    <![endif]-->

<script>
    (function () {

        var quill = new Quill('#editor', {
            theme: 'snow'
        });

        $('.datepicker-here').datepicker({
            language: 'pt-BR',
            minDate: new Date() // Now can select only dates, which goes after today
        })

        const checkData = $('.checkbox');
        const dataPicker = $('.datepicker-here');

        $(checkData).change(() => {
            if (checkData.prop('checked')) {
                dataPicker.removeAttr('disabled');
            } else {
                dataPicker.attr('disabled', true);
            }
        })

        function SomenteNumero(e) {
            var tecla = (window.event) ? event.keyCode : e.which;
            if ((tecla > 47 && tecla < 58)) return true;
            else {
                if (tecla == 8 || tecla == 0) return true;
                else return false;
            }
        }

        document.querySelector('#metragem').onkeypress = SomenteNumero;
        document.querySelector('#dormitorios').onkeypress = SomenteNumero;
        document.querySelector('#sala').onkeypress = SomenteNumero;
        document.querySelector('#banheiros').onkeypress = SomenteNumero;


        $('#locacao').maskMoney();
        $('#iptu').maskMoney();
        $('#condominio').maskMoney();
        $("#total-money").maskMoney({ prefix: 'R$ ', allowNegative: true, thousands: '.', decimal: ',', affixesStay: false });

        function SomaImobiliaria() {

            let locacao = $('#locacao').maskMoney('unmasked')[0];
            let iptu = $('#iptu').maskMoney('unmasked')[0];
            let condominio = $('#condominio').maskMoney('unmasked')[0];

            let soma = (locacao + iptu + condominio).toFixed(2);

            var num = $('#total-money').maskMoney('applyMask', soma);
            $("#total").html(num);
        }

        document.querySelector('#locacao').onkeypress = SomaImobiliaria;
        document.querySelector('#iptu').onkeypress = SomaImobiliaria;
        document.querySelector('#condominio').onkeypress = SomaImobiliaria;


    })()
</script>

</html>
