<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../_layout/imports/meta-tags'); %>
    <%- include('../_layout/imports/header-imports'); %>
    <link rel="stylesheet" href="/css/informations.css">
    <title>Imobiliária | Aliance</title>
</head>

<body>
    <%- include('../components/navbar', { black: true }) %>
    <div class="container uk-margin-top">
        <%- include('../components/datasheet') %>
        <%- include('../components/slider-slideshow') %>
    </div>
    <%- include('../components/footer') %>
    <%- include('../components/modal-contato') %>
</body>
<%- include('../_layout/imports/footer-imports'); %>

</html>