<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../_layout/imports/meta-tags'); %>
  <%- include('../_layout/imports/header-imports'); %>

  <link rel="stylesheet" href="/css/informations.css">
  <title>Imobiliária | Aliance</title>
</head>

<body>
  <%- include('../components/navbar', { black: true }) %>
  <div class="container uk-margin-top">
    <%- include('../components/datasheet', { data: data }) %>
    <%- include('../components/slider-slideshow', {id: data.id, files: data.files, url: url_back }) %>
  </div>
  <%- include('../components/footer') %>
  <%- include('../components/modal-contato', {id: data.id, code: data.code }) %>
  <div class="informations"></div>
</body>
<%- include('../_layout/imports/footer-imports'); %>
<script src="../js/jquery.mask.min.js"></script>
<script>
  $(document).ready(function () {
    var SPMaskBehavior = function (val) {
      return val.replace(/\D/g, '').length === 11 ? '(00) 0 0000-0000' : '(00) 0000-00009';
    },
      spOptions = {
        onKeyPress: function (val, e, field, options) {
          field.mask(SPMaskBehavior.apply({}, arguments), options);
        }
      };

    $('#telefone').mask(SPMaskBehavior, spOptions);
    $("#form-contato").submit((e) => {
      e.preventDefault();
      let nome = $('#nome').val();
      let telefone = $('#telefone').val();
      let descricao = $('#descricao').val();
      let id = $('#id').val();
      let codigo = $('#codigo').val();

      $("#button-contact").text("Enviando...").attr('disabled', true);


      $.post('/cad-infos', {
        id, nome, telefone, descricao, codigo
      }, (data) => {
        $('.informations').html(`
          <div class="uk-alert-success" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <p style="margin-right: 10px;">Dados Enviados com Sucesso!</p>
          </div>
        `);

        $('.informations').fadeIn();
        setTimeout(() => {
          $('.informations').fadeOut(() => {
            $('.informations').html(``);
          });
        }, 4000)

        $("#button-contact").text("Enviar").removeAttr('disabled');

        $('#nome').val('');
        $('#telefone').val('');
        $('#descricao').val('');
        UIkit.modal(document.querySelector('#modal-contato')).hide();

      }).fail((xhr, status, error) => {

        $('.informations').html(`
          <div class="uk-alert-danger" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <p style="margin-right: 10px;">Ops Ouve um erro ao enviar os dados!</p>
          </div>
        `);

        $('.informations').fadeIn();
        setTimeout(() => {
          $('.informations').fadeOut(() => {
            $('.informations').html(``);
          });
        }, 4000)

        $("#button-contact").text("Enviar").removeAttr('disabled');
      })
    })
  });
</script>

</html>
