<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../_layout/imports/meta-tags'); %>
    <%- include('../_layout/imports/header-imports'); %>
    <%- include('../_layout/rules/validation-login.ejs'); %>
    <link rel="stylesheet" href="/css/datatables.min.css">
    <title>Imobiliária | Aliance</title>

    <style>
        .uk-top-disabled>.mg-top-neg-40 {
            margin: 30px 0px;
        }

        table.dataTable tbody td {
            padding: 5px 10px;
        }

        td>.uk-button {
            display: inline-block;
            width: auto;
            height: 35px;
        }
    </style>
</head>

<body>
    <%- include('../components/navbar', { black: true }) %>
    <div class="container uk-margin-top ">
        <% if(admin) {%>
        <div class="uk-top-disabled">
            <%- include('../components/search.ejs') %>
        </div>
        <%}%>
        <%- include('../components/table-contatos.ejs') %>
    </div>
    <%- include('../components/footer') %>
</body>
<%- include('../_layout/imports/footer-imports'); %>
<script src="/js/datatables.min.js"></script>
<script>
    $(document).ready(function () {

        $('#example').DataTable({
            "scrollX": true,
            "language": {
                "sEmptyTable": "Nenhum registro encontrado",
                "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                "sInfoPostFix": "",
                "sInfoThousands": ".",
                "sLengthMenu": "_MENU_ resultados por página",
                "sLoadingRecords": "Carregando...",
                "sProcessing": "Processando...",
                "sZeroRecords": "Nenhum registro encontrado",
                "sSearch": "Pesquisar",
                "oPaginate": {
                    "sNext": "Próximo",
                    "sPrevious": "Anterior",
                    "sFirst": "Primeiro",
                    "sLast": "Último"
                },
                "oAria": {
                    "sSortAscending": ": Ordenar colunas de forma ascendente",
                    "sSortDescending": ": Ordenar colunas de forma descendente"
                },
                "select": {
                    "rows": {
                        "_": "Selecionado %d linhas",
                        "0": "Nenhuma linha selecionada",
                        "1": "Selecionado 1 linha"
                    }
                }
            }
        });
    });
</script>

</html>