<div class="col-lg-6 col-md-12">
  <div class="uk-card uk-card-default uk-card-small uk-card-body uk-card-hover  uk-margin-top">
    <div class="padding-neg-20">
      <span class="uk-label uk-label-success uk-front uk-promocao">
        <label class="">
          Promoção
        </label><i class="material-icons">money_off</i></span>
      <img src="/images/home/home.jpg" alt="" srcset="">
    </div>
    <div class="uk-card-footer">
      <h3 class="type">
        <%= docs.operation %>
      </h3>
      <div class="val-before">
        <small>DE: </small><small class="val-ant">R$ 999.000.000,00</small>
      </div>
      <div class="val-after">
        <small>POR: </small><span href="#" class="uk-button uk-button-text uk-context">R$
          999.000.000,00</span>
      </div>
    </div>
    <div class="uk-card-icons">
      <div class="bed">
        <div><i class="material-icons">king_bed</i></div>
        <div><%= docs.dorms %></div>
      </div>
      <div class="bathtub">
        <div><i class="material-icons">bathtub</i></div>
        <div><%= docs.toilets %></div>
      </div>
      <div class="car">
        <div><i class="material-icons">directions_car</i></div>
        <div><%= docs.garages %></div>
      </div>
      <div class="animal">
        <div><i class="material-icons">pets</i></div>
        <div><%= docs.animals ? "Sim" : "Não" %></div>
      </div>
    </div>
    <div class="mais">
      <button class="uk-button uk-button-link">INFORMAÇÕES</button>
    </div>
  </div>
</div>
